@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
}

body {
    display: flex;
    /*Alinhando ao centro*/
    justify-content: center;
    /*Alinhando ao meio da tela*/
    align-items: center;
    /*Força o menu ficar ao centro da tela*/
    min-height: 100vh;
    /*Puxando imagem de fundo*/
    background: url('./capa.png');
    /*posicionando a imagem ao centro*/
    background-size: cover;
    background-position: center;
}

.container {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid rgba(255, 255, 255, 2);
    border-radius: 10px;
    color: azure;
    padding: 30px 40px;
}