body {
      background-image: url("https://img.freepik.com/vetores-premium/comercio-eletronico-ou-conceito-de-marketing-de-compras-online-ilustracao-em-vetor_618588-583.jpg");
      background-size: cover;
      background-position: center;
      font-family: Arial, Helvetica, sans-serif;
      margin: 0;
      padding: 0;
      line-height: 1.5;
    }
/*estilo do titulo */

    h1 {
      color: red;
      font-size: 50px;
      margin: 30px;
    }

    /*estilo sub titulo*/

    h2 {
      color: white;
      font-size: 40px;
      margin: 20px;
    }

    /*estilo paragrafo*/

    p {
      color: white;
      font-size: 24px;
      margin: 20px;
    }

    /*estilo produto*/

    label {
      display: block;
      color: white;
      font-size: 24px;
      margin: 10px 20px;
    }
header {
  background-color: #333; 
  padding: 15px 30px;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}